<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestionscolarite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionScolarite">
        <activity
            android:name=".FiliereCRUD.AddFiliere"
            android:exported="false" />
        <activity
            android:name=".FiliereCRUD.DetailsFiliere"
            android:exported="false" />
        <activity
            android:name=".FiliereCRUD.ListFiliere"
            android:exported="false" />
        <activity
            android:name=".EtudiantCRUD.AddEtudiant"
            android:exported="false" />
        <activity
            android:name=".EtudiantCRUD.DetailsEtudiant"
            android:exported="false" />
        <activity
            android:name=".EtudiantCRUD.ListEtudiant"
            android:exported="false" />
        <activity
            android:name=".NiveauCRUD.AddNiveau"
            android:exported="false" />
        <activity
            android:name=".NiveauCRUD.DetailsNiveau"
            android:exported="false" />
        <activity
            android:name=".NiveauCRUD.ListNiveau"
            android:exported="false" />
        <activity
            android:name=".ModuleCRUD.AddModule"
            android:exported="false" />
        <activity
            android:name=".ModuleCRUD.DetailsModule"
            android:exported="false" />
        <activity
            android:name=".ModuleCRUD.ListModule"
            android:exported="false" />
        <activity
            android:name=".InscriptionCRUD.AddInscription"
            android:exported="false" />
        <activity
            android:name=".InscriptionCRUD.DetailsInscription"
            android:exported="false" />
        <activity
            android:name=".InscriptionCRUD.ListInscription"
            android:exported="false" />
        <activity
            android:name=".EvaluationCRUD.AddEvaluation"
            android:exported="false" />
        <activity
            android:name=".EvaluationCRUD.DetailsEvaluation"
            android:exported="false" />
        <activity
            android:name=".EvaluationCRUD.ListEvaluation"
            android:exported="false" />
        <activity
            android:name=".Bultin.DetailsBultin"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>